language: java

env:
  global:
    - secure: 'mFUCLdRvMgBr7JAp6NStVrX2kuVH8WvnSP0qIF9KMNv4DEG3uHzS07eijOqDIWqjNRgEP9nYTiWueQ5lWrGZWK6O4zf8hY2pjWVzI5xQCwRa0UxTBVQOUxFFgcaeG4GIlvteKU07lvISwmx7X81AD/BnK3S0pGOWcUVPwekAasY='
    - MAVEN_SETTINGS='.travis/settings.xml'
    - MAVEN_OPTIONS="-V -B -s $MAVEN_SETTINGS"

branches:
  except:
    - /^release-.*$/

jdk:
  - oraclejdk8

install: ./build ci-prepare $MAVEN_OPTIONS

script: ./build ci-build $MAVEN_OPTIONS
