#!/bin/bash

project=mvnsh

function command_rebuild {
  mvn clean install $*
  unzip -d target mvnsh-assembly/target/mvnsh-*-bin.zip
}

function command_rebuild-quick {
  self rebuild -Dtest=skip -o $*
}

function command_run {
  export JAVA_OPTS="-Dshell.logging.file.threshold=DEBUG -Dshell.logging.root-level=DEBUG $JAVA_OPTS"
  exec target/mvnsh-*/bin/mvnsh $*
}

function command_debug {
  export JAVA_OPTS="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005 $JAVA_OPTS"
  self run $*
}

function command_run-trace {
  export JAVA_OPTS="-Dcom.planet57.gossip.Log.threshold=TRACE -Dshell.logging.file.threshold=TRACE -Dshell.logging.root-level=TRACE $JAVA_OPTS"
  self run $*
}

function command_kill {
  ps -ef | grep target/mvnsh-*/boot/bootstrap.jar | grep -v grep | cut -c7-12 | xargs kill
}
