#
# Copyright (C) 2009 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# Example ~/.m2/mvnsh.rc
#

# Some niceties
alias ? help
alias ! recall
alias . source
alias quit exit
alias bye exit
alias print echo

# Some aliases to run common goals
alias install mvn install
alias clean mvn clean
alias compile mvn compile
alias test mvn test

# Aliases to the mvn help plugin
alias help-system mvn org.apache.maven.plugins:maven-help-plugin:system
alias help-allprofiles mvn org.apache.maven.plugins:maven-help-plugin:all-profiles
alias help-effectivesettings mvn org.apache.maven.plugins:maven-help-plugin:effective-settings

@ Aliases to the mvn dependency plugin
alias dependency-analyze mvn org.apache.maven.plugins:maven-dependency-plugin:analyze
alias dependency-resolve mvn org.apache.maven.plugins:maven-dependency-plugin:resolve
alias dependency-tree mvn org.apache.maven.plugins:maven-dependency-plugin:tree
alias dependency-purge mvn org.apache.maven.plugins:maven-dependency-plugin:purge-local-repository
alias dependency-resolve-plugins mvn org.apache.maven.plugins:maven-dependency-plugin:resolve-plugins
