#
# Copyright (c) 2007-2009 Sonatype, Inc. All rights reserved.
#
# This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
# which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.
#

#
# Example ~/.m2/mvnsh.rc
#

# Some niceties
alias ? help
alias ! recall
alias . source
alias quit exit
alias bye exit
alias print echo

# Some aliases to run common goals
alias install mvn install
alias clean mvn clean
alias compile mvn compile
alias test mvn test

# Aliases to the mvn help plugin
alias help-system mvn org.apache.maven.plugins:maven-help-plugin:system
alias help-allprofiles mvn org.apache.maven.plugins:maven-help-plugin:all-profiles
alias help-effectivesettings mvn org.apache.maven.plugins:maven-help-plugin:effective-settings

# Aliases to the mvn dependency plugin
alias dependency-analyze mvn org.apache.maven.plugins:maven-dependency-plugin:analyze
alias dependency-resolve mvn org.apache.maven.plugins:maven-dependency-plugin:resolve
alias dependency-tree mvn org.apache.maven.plugins:maven-dependency-plugin:tree
alias dependency-purge mvn org.apache.maven.plugins:maven-dependency-plugin:purge-local-repository
alias dependency-resolve-plugins mvn org.apache.maven.plugins:maven-dependency-plugin:resolve-plugins
